* {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
header {
    padding: 1rem;
    background-color: darkred;
}
footer {
    padding: 0.5rem;
    background-color: #8b0000;
    color: #fff;
    position: relative;
}
.content {
    width: 78%;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menu_left {
    background-color: #a9a9a9;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 1000;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for_photo {
    width: 150px;
    border-radius: 114px;
    max-width: 150px;
    padding: 5px;
}
.for_photo > img {
    width: 100%;
    height: auto;
    border-radius: 121px;
}
.for_link {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}
.for_link >a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    font-size:20px;
    text-align: center;
}
.flex_
